#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment(decoration='// ') }}

// Grafana Alloy Configuration for Log Shipping to Loki
// Target Loki Endpoint: {{ alloy_loki_url }}
// Multi-Tenant Org ID: {{ alloy_tenant_id }}

loki.write "loki_sink" {
  endpoint {
    url       = "{{ alloy_loki_url }}"
    tenant_id = "{{ alloy_tenant_id }}"
  }
}
{% if alloy_enable_journald_logs | bool %}

loki.relabel "journal" {
  forward_to = [loki.write.loki_sink.receiver]

  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "unit"
  }
  rule {
    source_labels = ["__journal__hostname"]
    target_label  = "host"
  }
{% for rule in alloy_journald_extra_relabel_rules %}
  rule {
    source_labels = {{ rule.source_labels | to_json }}
{% if rule.regex is defined %}
    regex         = "{{ rule.regex }}"
{% endif %}
{% if rule.target_label is defined %}
    target_label  = "{{ rule.target_label }}"
{% endif %}
{% if rule.action is defined %}
    action        = "{{ rule.action }}"
{% endif %}
{% if rule.replacement is defined %}
    replacement   = "{{ rule.replacement }}"
{% endif %}
  }
{% endfor %}
}

loki.source.journal "read_journal" {
  forward_to    = [loki.relabel.journal.receiver]
  relabel_rules = loki.relabel.journal.rules
  labels        = {
    host        = "{{ inventory_hostname }}",
    environment = "{{ alloy_tenant_id }}",
    job         = "integrations/journal",
{% for key, value in alloy_custom_labels.items() %}
    {{ key }} = "{{ value }}",
{% endfor %}
  }
}
{% endif %}
{% if alloy_enable_docker_logs | bool %}

discovery.docker "containers" {
  host = "{{ alloy_docker_socket_path }}"
}

discovery.relabel "docker" {
  targets = discovery.docker.containers.targets

{% if alloy_docker_relabel_container_name | bool %}
  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "/?(.*)"
    target_label  = "container"
  }
{% endif %}
{% for rule in alloy_docker_extra_relabel_rules %}
  rule {
    source_labels = {{ rule.source_labels | to_json }}
{% if rule.regex is defined %}
    regex         = "{{ rule.regex }}"
{% endif %}
{% if rule.target_label is defined %}
    target_label  = "{{ rule.target_label }}"
{% endif %}
{% if rule.action is defined %}
    action        = "{{ rule.action }}"
{% endif %}
{% if rule.replacement is defined %}
    replacement   = "{{ rule.replacement }}"
{% endif %}
  }
{% endfor %}
}

loki.source.docker "read_docker" {
  host       = "{{ alloy_docker_socket_path }}"
  targets    = discovery.relabel.docker.output
  forward_to = [loki.write.loki_sink.receiver]
  labels     = {
    host        = "{{ inventory_hostname }}",
    environment = "{{ alloy_tenant_id }}",
    job         = "integrations/docker",
{% for key, value in alloy_custom_labels.items() %}
    {{ key }} = "{{ value }}",
{% endfor %}
  }
}
{% endif %}
